<html>
    <head>
        <title>RideFlow Admin</title>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ==" crossorigin=""/>
        <link rel="stylesheet" type="text/css" href="/static/css/app.css">
    </head>
    <body>
        <div id="rfapp">
            <router-view></router-view>
        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/vue"></script>
        <script src="https://unpkg.com/vue-i18n/dist/vue-i18n.js"></script>
        <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
        <script src="/static/js/app.js"></script>
    </body>

    <div class="root template">
        <header>
            <nav>
                <li><router-link to="/routes">{{   $t( "routes.nav"   ) }}</router-link></li>
                <li><router-link to="/vehicles">{{ $t( "vehicles.nav" ) }}</router-link></li>
                <li><router-link to="/drivers">{{  $t( "drivers.nav"  ) }}</router-link></li>
                <li><router-link to="/rides">{{    $t( "rides.nav"    ) }}</router-link></li>
            </nav>
        </header>
        <main>
            <router-view></router-view>
            <div id="testmap" style="height: 400px;">
            </div>
        </main>
        <footer>
        </footer>
    </div>

    <div class="routes template">
        <h2>{{ $t( "routes.title" ) }}</h2>
        <button v-on:click="add" v-bind:title="$t('routes.add_title')"type="button">+</button>
        <ul>
            <route-summary v-for="model in models" :key="model.id" :model="model"></route-summary>
        </ul>    
    </div>

    <div class="edit_route template">
        <input type="text" v-model="model.name" v-bind:placeholder="$t('route.name')">
        <button v-on:click="saveData" type="btn" >{{ $t("route.create") }}</button>
    </div>

    <div class="vehicles template">
        <h2>{{ $t( "vehicles.title" ) }}</h2>
        <button v-on:click="add" v-bind:title="$t('vehicles.add_title')"type="button">+</button>
        <ul>
            <vehicle-summary v-for="model in models" :key="model.id" :model="model"></vehicle-summary>
        </ul>    
    </div>

    <div class="drivers template">Drivers</div>
    <div class="rides template">Rides</div>

    <div class="vehicle template">
        <h2>{{ model.name }}</h2>
    </div>

    <li class="vehicle-summary template">
        <router-link :to="'/vehicles/' + model.id + '/edit'">{{ model.name }}</router-link>
    </li>
    <li class="route-summary template">
        <router-link :to="'/routes/' + model.id + '/edit'">{{ model.name }}</router-link>
    </li>

    <div class="edit_vehicle template">
    <input type="text" v-model="model.name" v-bind:placeholder="$t('vehicle.name')">
    <button v-on:click="saveData" type="button" >{{ $t("vehicle.create") }}</button>
    </div>

    <div class="login template">
        <h3>{{ $t('login.title') }}</h3>
        <div>{{ error }}</div>
        <input type="email"    v-bind:placeholder="$t('login.email')"    v-model="email">
        <input type="password" v-bind:placeholder="$t('login.password')" v-model="password">
        <button v-on:click="doLogin" type="button">{{ $t("login.login") }}</button>
        <router-link :to="{ name: 'forgot_password', params: { em: this.email }}" >{{ $t("login.forgot_password") }}</a>
    </div>

    <div class="forgot_password template">
        <h3>{{ $t('forgot_password.title') }}</h3>
        <p>{{ $t('forgot_password.instructions') }}</p>
        <input type="email" v-bind:placeholder="$t('forgot_password.email')" v-model="email">
        <button v-on:click="doReset" type="button">{{ $t('forgot_password.go_button') }}</button>
        <router-link :to="{ name: 'login', params: { em: this.email }}" >{{ $t("forgot_password.login_link") }}</a>
    </div>

</html>
