<html>
    <head>
        <title>RideFlow Admin</title>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ==" crossorigin=""/>
        <link rel="stylesheet" type="text/css" href="/static/css/app.css">
    </head>
    <body>
        <div id="rfapp">
        <header>
            <nav>
                <li><router-link to="/routes">{{   $t( "routes.nav"   ) }}</router-link></li>
                <li><router-link to="/vehicles">{{ $t( "vehicles.nav" ) }}</router-link></li>
                <li><router-link to="/drivers">{{  $t( "drivers.nav"  ) }}</router-link></li>
                <li><router-link to="/rides">{{    $t( "rides.nav"    ) }}</router-link></li>
            </nav>
        </header>
        <main>
            <router-view></router-view>
            <div id="testmap" style="height: 400px;">
            </div>
        </main>
        <footer>
        </footer>
        </div>
    </body>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vue-i18n/dist/vue-i18n.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="/static/js/app.js"></script>

    <div class="routes template">
        <h2>{{ $t( "routes.title" ) }}</h2>
        <button v-on:click="add" v-bind:title="$t('routes.add_title')"type="button">+</button>
        <ul>
            <route-summary v-for="model in models" :key="model.id" :model="model"></route-summary>
        </ul>    
    </div>
    <div class="edit_route template">
    <input type="text" v-model="model.name" v-bind:placeholder="$t('route.name')">
    <button v-on:click="saveData" type="btn" >{{ $t("route.create") }}</button>
    </div>
    <div class="vehicles template">
        <h2>{{ $t( "vehicles.title" ) }}</h2>
        <button v-on:click="add" v-bind:title="$t('vehicles.add_title')"type="button">+</button>
        <ul>
            <vehicle-summary v-for="model in models" :key="model.id" :model="model"></vehicle-summary>
        </ul>    
    </div>
    <div class="drivers template">Drivers</div>
    <div class="rides template">Rides</div>

    <div class="vehicle template">
        <h2>{{ model.name }}</h2>
    </div>

    <li class="vehicle-summary template">
        <router-link :to="'/vehicles/' + model.id + '/edit'">{{ model.name }}</router-link>
    </li>
    <li class="route-summary template">
        <router-link :to="'/routes/' + model.id + '/edit'">{{ model.name }}</router-link>
    </li>

    <div class="edit_vehicle template">
    <input type="text" v-model="model.name" v-bind:placeholder="$t('vehicle.name')">
    <button v-on:click="saveData" type="btn" >{{ $t("vehicle.create") }}</button>
    </div>
</html>
