package RideFlow::DB::Result::[% model_name %];

use Moose;
use MooseX::MarkAsMethods autoclean => 1;

extends 'RideFlow::DB::Result::Attributes::[% model_name %]';

__PACKAGE__->meta->make_immutable;

1;