[%
FOREACH table IN schema.pairs %]
CREATE TABLE [% table.key %] (
    [% FOREACH column IN table.value.columns.pairs;
        column.key; ' ';
        column.value.data_type == 'datetime' ? 'timestamp with time zone' : column.value.data_type;
        ' NOT NULL' IF column.value.not_null;
        ',' IF ! loop.last || table.value.primary_key %]
    [% END %]
    [%- IF table.value.primary_key %]
    PRIMARY KEY ( [% table.value.primary_key.join(',') %] )
    [%- END %]
);
[% END %]